@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #101010;
}
.signUp{
    background: linear-gradient(#7837CB, #388DB1);
    border: none;
}
.borderdiv{
    border-top: 1px solid #232323;
    border-bottom: 1px solid #232323;
}
.borderdiv1{
    /* border-top: 1px solid #232323; */
    border-bottom: 1px solid #232323;
}