@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #101010;

}

.signUp {
	background: linear-gradient(#7837CB, #388DB1);
	border: none;
}

.borderdiv {
	border-top: 1px solid #232323;
	border-bottom: 1px solid #232323;
}

.borderdiv1 {
	/* border-top: 1px solid #232323; */
	border-bottom: 1px solid #232323;
}

.triangle {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

/* image filter */
.juno-filter {
	filter: contrast(110%) brightness(110%) saturate(140%) sepia(20%);
}

/*  */
.lark-filter {
	filter: contrast(90%) brightness(110%) saturate(140%) hue-rotate(-20deg);
}

.slumber-filter {
	filter: contrast(90%) brightness(120%) saturate(85%) sepia(15%);
}

/* transform: translateY(-90%) rotate(-151deg) skewY(30deg) scaleX(.866 ) */
@media (max-width:1280px) {
	.triangle {
		transform: translateY(-90%) rotate(-151deg) skewY(30deg) scaleX(.866)
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.triangle-4 {
	width: 60px;
	height: 30px;
	border-bottom: solid 30px white;
	border-left: solid 30px transparent;
	border-right: solid 30px transparent;
}

@media(max-width:1280px) {
	.triangle-4 {
		position: relative;
		bottom: 7px;
		transform: rotate(180deg);
	}
}